<div class="calls-wrapper">
  <img nz-image *ngIf="isRecording" class="call-icon" nzSrc="../../../../../assets/images/call-icon.jpg">
  <img nz-image *ngIf="!isRecording" class="call-icon" nzSrc="../../../../../assets/images/decline-call-icon.png">

  <div class="timer">
    <span class="timer-text" nz-typography>{{minutes}}:{{seconds}}</span>
  </div>
  <button class="call-button" nz-button nzType="primary" (click)="startRecord()" class="btn btn-primary" *ngIf="!isRecording"> Call </button>
  <button class="stop-button" nz-button (click)="stopRecord()" class="btn btn-danger" *ngIf="isRecording"> Stop </button>

  <div>
    <audio controls="" *ngIf="url" autoplay>
      <source [src]="sanitize(url)" type="audio/wav">
    </audio>
  </div>
</div>
